@import url('//fonts.googleapis.com/css?family=Roboto:400,900');

@mixin translate($x, $y) {
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  transform: translate($x, $y);
}

html, body {
  position: relative;
  font-size:100%;
  width: 100vw;
  height: 100vh;
}

hr{
  outline:0;
  border:2px solid #fff;
  margin:1rem 0;
}

body {
  background-color:#A11E1E;
  color: #fff;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin:0;
    line-height:1;
  }
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%,-50%);
  
  h1 {
      cursor:pointer;
      padding:20px 20px;
      background-color:#d06f06;
      text-align:center;
      font-weight:900;
      font-size:4em;
      margin:0;
      line-height:1;
      opacity:0;
      margin-bottom:.3em;
  }
  
  h2 {
    text-transform:uppercase;
    font-size:2.5rem;
    margin:0;
  }


}

