
.birthday{display:block}
body {
  margin: none;
  background-color: #000;
}

#txt {
  height: 100px;
  line-height: 100px;
	margin: auto;
	position: absolute;

	color: #fff;

	top: 0%;
	right: 0%;
	left: 0%;
	bottom: 0%;

	font-family: 'Droid Sans';
	font-weight: 700;
	font-size: 50px;

	text-align: center;
}
